@use "variables.scss" as c;

.background {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: c.$colour-tertiary;
    margin: 3rem auto auto auto;
    max-width: 80%;
    border-radius: 1.5rem;
}

@media screen and (width <= 1400px) {
    .background {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width <= 1000px) {
    .background {
        grid-template-columns: repeat(1, 1fr);
        background-color: white;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        max-width: 100%;
    }
}