@use "variables.scss" as c;

.Error {
    text-align: center;
    h1 {
        color: c.$colour-primary;
        font-size: 10rem;
    }
    h2 {
        color: c.$colour-primary;
        font-size: 3rem;
    }
    .Error_redirect {
        color: c.$colour-primary;
        text-decoration: underline;
        font-size: 2rem;
        }
}