@use "variables.scss" as c;

.navbar {
    display: flex;
    align-items: center;
    margin: 2% 10% 0 10%;
    & .navbar_text {
        margin-left: auto;
    }
    a {
        padding: 2rem;
        color: c.$colour-primary;
        font-size: 1.3rem;
        font-weight: bold;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        margin: 2% 2% 0 2%;
        img {
            width: 120px;
        }
        a {
            font-size: 1rem;
            padding: 1rem 0 1rem 1rem;
        }
    }
}